doctype html5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title uTrack - ubiapps
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/js/fancySelect/fancySelect.css")
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="/js/fancySelect/fancySelect.js")
    script.
      $(function() {
        $(".styleSelect").fancySelect();
      });
    script.
      var mapData = !{routeDate.length === 0 || routeIndex < 0 ? "{}" : JSON.stringify(routes[routeDate][routeIndex])};
      var deviceId = "#{deviceId}";
      var routeDate = "#{routeDate}";
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdYy1RHr1ryZejV0uocIsAnOyY5G43smo&sensor=false")
    script(src="/js/mapping.js")
  body
    header
      a.logo(href="/map") uTrack
      div.headerSelect
        select.styleSelect#deviceSelect
          option(value="") select device
          each device in devices
            if device === deviceId
              option(value="#{device}", selected=true) #{device}
            else
              option(value="#{device}") #{device}
      if deviceId !== ""
        div.headerSelect
          select.styleSelect#dateSelect(data-class="dateSelect")
            option(value="") select date
            - for (var rDate in routes) {
              - if (rDate === routeDate) {
                option(value="#{rDate}", selected=true) #{rDate}
              - } else {
                option(value="#{rDate}") #{rDate}
              -}
            -}
      if routeDate !== ""
        div.headerSelect
          select.styleSelect#routeSelect(data-class="routeSelect")
            option(value="") select journey
            each route in routes[routeDate]
              if route.index == routeIndex
                option(value="#{route.index}", selected=true) #{route.distance.toFixed(1) + "m at " + new Date(route.start).toTimeString().substr(0,9)}
              else
                option(value="#{route.index}") #{route.distance.toFixed(1) + "m at " + new Date(route.start).toTimeString().substr(0,9)}
      div.routeMap
      div.loading
