doctype html5
html
  head
    title #{pageTitle}
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/js/fancySelect/fancySelect.css")
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="/js/fancySelect/fancySelect.js")
    script.
      $(function() {
        $(".styleSelect").fancySelect();
      });
    script.
      var mapData = !{routeIndex < 0 ? "{}" : JSON.stringify(routes[routeIndex])};
      var deviceId = "#{deviceId}";
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdYy1RHr1ryZejV0uocIsAnOyY5G43smo&sensor=false")
    script(src="/js/mapping.js")
  body
    header
      a.logo(href="/map") uTrack
      div.headerSelect
        select.styleSelect#deviceSelect
          option(value="") device
          each device in devices
            if device === deviceId
              option(value="#{device}", selected=true) #{device}
            else
              option(value="#{device}") #{device}
      div.headerSelect
        select.styleSelect#routeSelect
          option(value="") route
          each route in routes
            if route.index == routeIndex
              option(value="#{route.index}", selected=true) #{route.distance.toFixed(1) + "m"}
            else
              option(value="#{route.index}") #{route.distance.toFixed(1) + "m"}
      div.routeMap
      div.loading
